@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

/* .container {
    width: 1140px;
    margin: 0 auto;
} */

.strip {
    margin: 16px auto;
    width: 150px;
    height: 1px;
    background-color: $main_color;
}

@import 'blocks/promo';
@import 'blocks/btn';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';