.butn {
    width: 160px;
    height: 45px;
    background-color: $main_color;
    border-radius: 30px;
    border: none;
    transition: all 1s;
    border: 1px solid $main_color;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: #fff;
    &:hover {
        border-color: black;
    }
    &_promo {
        width: 230px;
        font-size: 15px;
        font-weight: 700;
    }
    &__delivery {
        background-color: #ee745e;
        &:hover {
            background-color: $main_color;
        }
    }
}
